body {
    background-color: #2d5b6b;
    font-family: 'Itim', cursive;

    min-width: auto;
    max-width: auto;

   
}
@media (max-width: 800px) and (max-height: 700px) {

    /*1° base x altura */
    body {
        display: flex;
        justify-content: space-around;
    }
}
/*@media colocar uma resolução em que ele pode em modo janela 
/* classes */
.box {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 15px 20px;
    margin: 5cm;
    padding: 2cm;
}


.boxtxt {
    width: 3cm;
    height: 20px;
    font-size: medium;
    font-family: 'Itim', cursive;
}




.show{

}