/*
importantes:
justify-content:;
flex-direction;
flex-wrap;
align-items;
align-content;
Colocar uma barra em cima para colocar home, menu, perfil do criador*/

body {
    background-color: #84C454;
    display: flex;
    justify-content: center;
    
}

@media (max-width: 800px) and (max-height: 700px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.table{
    background-color: #9CE4BC;
    width: 10cm;
    height: 3cm;
    border-radius: 10px;

    padding: 0% 0% 0% 0%;/*colocar as coisas centralizadas*/
    
}
.num {
    width: 10%;
}

button {
    /*colocar um hover aqui sobre o botao*/
    background-color: white;
    border-radius: 15%;
    
}